<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/css/main.css" type="text/css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" type="text/css" rel="stylesheet">
</head>
<body ng-app="lupus">

<!-- Begin Header -->
<header>

    <div id="headerBGDiv">
        <img id="headerBGImage" src="/images/13221130_10208054445497914_2590006661016816069_o.jpg">
    </div>

</header>
<!-- End Header -->

<!-- Begin Nav -->
<nav class="scroll">

    <img src="/images/13000082_1116677648396380_2740369615346506744_n.jpg" id="lupusLogo">

    <div id="links">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#register">Register</a></li>
            <li><a href="#teams">Teams</a></li>
            <li><a href="#skips">Skips</a></li>
            <li><a href="#donate">Donate</a></li>
            <li><a href="#directions">Directions</a></li>
        </ul>
    </div>

</nav>
<!-- End Nav -->

<!-- Inject views here -->
<div ng-view="" id="mainContntArea">

</div>


<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/bower_components/angular-resource/angular-resource.js"></script>
<script src="/bower_components/ScrollToFixed/jquery-scrolltofixed.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/ScrollToFixed/jquery-scrolltofixed.js"></script>
<script src="/scripts/angular/routes.js"></script>
<script src="/scripts/jquery/fixedscrolling.js"></script>
</body>
</html>