

header{
  height: 50%;
  width: 100%;
  position: absolute;

  #headerBGDiv{
    height: 100%;
    width: 100%;
    position: absolute;

    #headerBGImage{
      height: 100%;
      width: 100%;
    }
  }
}
